* {
    margin: 0;
    padding: 0;
}

.comp {
    margin-left: 170px;
    margin-right: 200px;
    margin-top: 20px;
}

.tab {
    width: 100%;
    text-align: center;
    margin-top: 60px;
    border-collapse: collapse;
    
}
.head {
    background-color: black;
    color: white;
}

.dt {
    text-align: center;
}

.dt tr {
    border-bottom: 2px solid black;
    line-height: 60px;
}

.sett {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.add-btn {
    padding: 15px 25px;
    border: none;
    color: white;
    background-color: #1ca5d4;
}

.add-btn:hover {
    background-color: #1cd4d1;
}

.ed-btn {
    padding: 5px 10px;
    border: none;
    color:white;
    background-color: #d4241c;
}

.ed-btn:hover {
    background-color: #FF5733 ;
}

.del-btn {
    padding: 7px 12px;
    border: none;
    color: white;
    background-color: #FFC300;
}

.del-btn:hover {
    background-color: #d4c61c;
}